socks5_listen: 0.0.0.0:9999
http_proxy_listen: 0.0.0.0:19999
exit_constraint:
  country: $EXIT

broker:
  race:
    - fronted:
        front: https://www.cdn77.com/
        host: 1826209743.rsc.cdn77.org
    - fronted:
        front: https://vuejs.org/
        host: svitania-naidallszei-2.netlify.app

credentials:
  legacy_username_password:
    username: $USERNAME
    password: $PASSWORD
passthrough_china: $PASSTHROUGH_CHINA