name: Build and Publish Docker Image

on:
  push:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    name: Release - ${{ matrix.platform.os-name }}
    strategy:
      matrix:
        platform:
          - os-name: arm64
            runs-on: ubuntu-24.04
            target: aarch64-unknown-linux-musl
            docker-platform: linux/arm64
            docker-tag: arm64v8
          - os-name: amd64
            runs-on: ubuntu-24.04
            target: x86_64-unknown-linux-musl
            docker-platform: linux/amd64
            docker-tag: latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read version
        id: version
        run: echo "VERSION=$(cat version | tr -d '\n')" >> $GITHUB_ENV

      - name: Download geph5-client source from crates.io
        run: |
          curl -sSL --retry 3 --retry-delay 2 -o geph5-client.tar.gz https://static.crates.io/crates/geph5-client/geph5-client-${VERSION}.crate
          tar -xzf geph5-client.tar.gz
          export SRC_DIR=$(find . -maxdepth 1 -type d -name 'geph5-client-*' | head -n1)
          echo "SRC_DIR=$SRC_DIR" >> $GITHUB_ENV

      - name: List files for debug
        run: ls -lR

      - name: Build binary using cross
        uses: houseabsolute/actions-rust-cross@v1
        with:
          working-directory: ${{ env.SRC_DIR }}
          command: build
          target: ${{ matrix.platform.target }}
          args: "--locked --release --bin geph5-client --features aws_lambda"
          strip: true
        env:
          RUSTFLAGS: "-C opt-level=z -C embed-bitcode -C panic=abort -C codegen-units=1"

      - name: Move binary to root
        run: cp ${{ env.SRC_DIR }}/target/${{ matrix.platform.target }}/release/geph5-client ./geph5-client

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: ${{ matrix.platform.docker-platform }}
          push: true
          tags: icealtria/geph5-client:${{ matrix.platform.docker-tag }}
